BLFrontend/Service References/ServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57435/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BE" />
  <xs:element name="GetShagrirs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShagrirsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BE" minOccurs="0" name="GetShagrirsResult" nillable="true" type="q1:ArrayOfShagrir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShagrir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BE" minOccurs="0" name="shagrirToAdd" nillable="true" type="q2:Shagrir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShagrirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddShagrirResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>